<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
</head>
<body>
	<div class="TikTok">
		<div class="title">TikTok</div>
		<a href="tiktok"><button>Connection</button></a>
	</div>
	<div class="fb">
		<div class="title">Facebook</div>
		<script>
			window.fbAsyncInit = function() {
				FB.init({
				appId	:	'441792644794991',
				cookie	:	true,
				xfbml	:	true,
				version	:	'15.0'
				});

				FB.AppEvents.logPageView();

			};

			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "https://connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			</script>
			<fb:login-button
				scope="public_profile,email"
				onlogin="checkLoginState();">
				function checkLoginState() {
					FB.getLoginStatus(function(response) {
						statusChangeCallback(response);
					});
				}
			</fb:login-button>
	</div>
	<div class="title">Instagram</div>
	<div class="title">Twitter</div>
</body>
</html>
